:host {
  height: 80%;
  background-color: white;
  display: block;
  margin: 25px 25px 0px 25px;
  position: relative;
  ::ng-deep {
    .ant-tabs-nav {
      padding: 0px 20px;
      margin-top: 0px;
    }

    .ant-tabs {
      height: 90%;
      width: 100%;
    }

    .ant-tabs-content {
      height: 100%;
      width: 100%;
    }
  }
}

.spinner-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
}
