:host {
  margin: 75px 60px 10px 20px;
}

input {
  margin-top: 10px;
  width: 200px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
}

.error-tip {
  color: red;
}

label {
  display: block;
}
