:host {
  margin: 75px 60px 10px 20px;
}

textarea {
  margin-top: 10px;
  width: 200px;
  height: 74px;
  resize: none;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.error-tip {
  color: red;
}

label {
  display: block;
}
