<form nz-form [formGroup]="cvLanguagesForm">
  <app-text-input
    formControlName="name"
    label="{{ 'employee.languages.name.label'| translate }}"
    placeholder="{{ 'employee.languages.name.placeholder' | translate }}"
    errorTip="{{ 'employee.languages.name.errorTip' | translate }}">
  </app-text-input>

  <app-text-input
    formControlName="everydayReadingLevel"
    label="{{ 'employee.languages.everydayReadingLevel.label' | translate }}"
    placeholder="{{ 'employee.languages.everydayReadingLevel.placeholder' | translate }}"
    errorTip="{{ 'employee.languages.everydayReadingLevel.errorTip' | translate }}">
  </app-text-input>

  <app-text-input
    formControlName="everydayWritingLevel"
    label="{{ 'employee.languages.everydayWritingLevel.label' | translate }}"
    placeholder="{{ 'employee.languages.everydayWritingLevel.placeholder' | translate }}"
    errorTip="{{ 'employee.languages.everydayWritingLevel.errorTip' | translate }}">
  </app-text-input>

  <app-text-input
    formControlName="everydaySpeakingLevel"
    label="{{ 'employee.languages.everydaySpeakingLevel.label' | translate }}"
    placeholder="{{ 'employee.languages.everydaySpeakingLevel.placeholder' | translate }}"
    errorTip="{{ 'employee.languages.everydaySpeakingLevel.errorTip' | translate }}">
  </app-text-input>

  <app-text-input
    formControlName="professionalReadingLevel"
    label="{{ 'employee.languages.professionalReadingLevel.label' | translate }}"
    placeholder="{{ 'employee.languages.professionalReadingLevel.placeholder' | translate }}"
    errorTip="{{ 'employee.languages.professionalReadingLevel.errorTip' | translate }}">
  </app-text-input>

  <app-text-input
    formControlName="professionalWritingLevel"
    label="{{ 'employee.languages.professionalWritingLevel.label' | translate }}"
    placeholder="{{ 'employee.languages.professionalWritingLevel.placeholder' | translate }}"
    errorTip="{{ 'employee.languages.professionalWritingLevel.errorTip' | translate }}">
  </app-text-input>

  <app-text-input
    formControlName="professionalSpeakingLevel"
    label="{{ 'employee.languages.professionalSpeakingLevel.label' | translate }}"
    placeholder="{{ 'employee.languages.professionalSpeakingLevel.placeholder' | translate }}"
    errorTip="{{ 'employee.languages.professionalSpeakingLevel.errorTip' | translate }}">
  </app-text-input>
</form>
