:host {
  height: 80%;
  display: block;
  background-color: white;
  margin: 25px 25px 0px 25px;
  position: relative;
}

.spinner-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
}
